<div>
  <!-- <label>Objeto:
    <input [(ngModel)]="venta.objeto" placeholder="tortilla/frijoles">
  </label> -->
  <div class="btn-group" btnRadioGroup [(ngModel)]="venta.objeto">
    <label
      class="btn btn-primary"
      btnRadio="tortilla"
      uncheckable
      tabindex="0"
      role="button"
      >Tortilla</label
    >
    <label
      class="btn btn-primary"
      btnRadio="frijol"
      uncheckable
      tabindex="0"
      role="button"
      >Frijol</label
    >
  </div>
  <div class="form-group" *ngIf="venta.objeto !== ''">
    <label for="ventaCantidad">Cantidad:</label>
    <input
      id="ventaCantidad"
      class="form-control"
      [(ngModel)]="venta.cantidad"
      type="number"
    />
  </div>
  <!-- <div class="form-group" *ngIf="venta.objeto !== ''">
    <label for="ventaFecha" class="form-group" >Fecha:</label>
    <input id="ventaFecha" class="form-control" [(ngModel)]="venta.fecha" type="date">
  </div> -->
  <br />
  <button
    type="button"
    class="btn btn-primary"
    *ngIf="venta.objeto !== '' && venta.cantidad > 0"
    (click)="guardar()"
  >
    Guardar</button
  ><app-loading [show]="mostrarCargando"></app-loading>
</div>
